

/* Documentation : Table of Contents */
.documentation-table-of-contents-container {
	width: 250px;
	position: relative;

	.page-documentation:not(.hasSidebar) & {
		display: none;
	}

	@include breakpoint(large, down) {
		position: fixed;
		top: $header-height-small;
		left: 0;
		width: 100%;
		background-color: $brandpurple-1;
	}

	@include breakpoint(large) {
		padding-bottom: 1rem;
	}
}

.documentation-table-of-contents {
	padding: 0.5rem 1rem 0.5rem 1.5rem;

	.sub_toc__item:hover{
		color: #8438FA;
	}

	.sub_toc__item.js-active{
		color: #8438FA;
	}		

	.accordion-item {
		.toc__item {
			line-height: 20px;   
			position: relative;
			padding: 0;
			margin-bottom: 20px;
			padding-right: 20px;
			font-size: 14px;
			&.accordion-up{
				/* color: #8438FA; */
				/* font-weight: bold; */
				&:after { transform: rotate(180deg);}
			}
			&.accordionHolder {
				&:after {
					display: none;
				} 
			}
			&:after {
				pointer-events: auto;
				content: '';
				background-image: url("../img/icon-caret.svg");
				background-repeat: no-repeat;
				background-position: right;
				inline-size: 100%;
				block-size: var(--caret-size);
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer; 
				transition: scale 0.2s;
				width: 20px;
				height: 20px;				
			}
		}
		.accordion-content {
			display: none;
			a {
				font-size: 12px;
				margin-bottom: 10px;
				display: block;
			}
			>* {
				padding-left: 18px;				 
			}	
			.sub-accordionHolder {
				position: relative;
				&:after{
					pointer-events: auto;
					content: '';
					background-image: url(../img/icon-caret.svg);
					background-repeat: no-repeat;
					background-position: right;
					inline-size: 100%;
					block-size: var(--caret-size);
					position: absolute;
					top: 0;
					right: 0;
					cursor: pointer;
					transition: scale 0.2s;
					width: 20px;
					height: 20px;
				}
				
				
			}
			&.accordion-up{
				.sub-accordionHolder {
					position: relative;
					/* &:after{
						transform: rotate(180deg);
					}*/
				}
			}
			/*.sub-accordionHolder{
				&:after{
					display: none;
				}
			}
			.sub-sub-accordionHolder{
				&:after{
					display: none;
				}
			}*/
		}


		.accordion-content.accordion-up {
			>.sub-accordionHolder {
				&:after {
					transform: rotate(180deg);
				}
			}
			>.sub-accordion {
				>.sub-accordionHolder {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}

		.sub-accordion-content > *{
			padding-left: 25px;
		}
		.sub-accordion-content, .sub-sub-accordion-content{
			display: none;
		}

		.accordion-up .sub-accordion-content , .accordion-up .sub-accordion-content a , .sub-accordion .sub-sub-accordion-content {
			display: block;
		}
		
		margin-bottom: 20px;
		>* {
			font-size:  15px !important;
			transition: all 400ms ease;
			&:hover{
				font-weight: 700;
				color: #000 !important;
			}
			+ {
				* {
					position: relative;
					&:before{
						content: "";
						background: #cfcfe5;
						width: 1px;
						height: 100%;
						top: 0;
						left: 0;
						display: block;
						position: absolute;
						z-index: 1;
					}
					.sub_toc__item {
						font-size: 15px !important;
						color: #03031c;
						margin: 0 !important;
						font-weight: 400;
						padding-bottom: 10px !important;
						padding-left: 14px;
						&:hover, &.js-active{
							color: #8438FA;
						}
					}
				}
			}
			&:last-child{
				.sub_toc__item {
					padding-bottom: 10px !important;					
				}
			}
		}
	}
	.toc__content {

		.accordion-content {
		
			a {
				font-size: 15px !important;
				color: #03031c;
				margin: 0 !important;
				font-weight: 400;
				padding-bottom: 10px !important;
				padding-left: 14px;
			}
		}
	}
	@include breakpoint(large) {
		border-left: 1px solid $brandpurple-2;
		position: sticky;
		top: 0;
	}

	.toc {
		&__content {
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			max-height: calc(100vh - #{$header-height} - #{$header-tabs-height} - 120px);
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			@include breakpoint(large, down) {
				display: none;
			}
		}

		&__label {
			display: block;
			position: relative;
			text-transform: uppercase;
			color: $brandpurple-11;
			font-weight: 600;

			@include breakpoint(large) {
				margin-bottom: 1rem;
			}

			@include breakpoint(large, down) {
				cursor: pointer;

				&::after {
					content: '';
					position: relative;
					display: inline-block;
					width: 20px;
					height: 20px;
					left: 15px;
					top: 5px;
					background-image: url('../img/icon-caret.svg');
					background-repeat: no-repeat;
					background-position: center;
					transition: rotate 0.2s;
				}
			}

			&.js-open {
				border-bottom: 1px solid $brandpurple-2;
				padding-bottom: 0.5rem;
				margin-bottom: 1rem;

				& ~ .toc__content {
					display: block;
				}

				&::after {
					rotate: 180deg;
				}
			}
		}

		&__item {
			display: block;
			padding: 0.5rem 0;
			font-size: 12px;
			color: $brand-black;
			word-wrap: break-word;

			&.js-active {
				font-weight: bold;
				color: $brandpurple-dark;
			}

			&:hover {
				color: $brandpurple-dark;
			}
		}
	}
}


body:not(.hasSidebar) .documentation-table-of-contents {
	display: none !important;
}

@media only screen and (max-width: 768px) {
	.documentation-table-of-contents a {
		width: 100%;
		text-align: center;
	}
}
